certifi==2019.9.11
chardet==3.0.4
cloudpickle==1.2.2
cycler==0.10.0
Deprecated==1.2.7
GDAL==2.4.3
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.1
matplotlib-scalebar==0.6.1
numpy==1.17.4
openeo==0.0.8
pandas==0.25.3
pkg-resources==0.0.0
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
Shapely==1.6.4.post2
six==1.13.0
urllib3==1.25.7
wrapt==1.11.2
