
name: Unit tests
on: [push, pull_request]
concurrency: ci-${{ github.ref }}
jobs:
  build:
    strategy:
      matrix:
        # Basic configurations to run on
        os: ["ubuntu-latest"]
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
        # Additional special cases (see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-adding-configurations)
        include:
          - os: "ubuntu-20.04"
            python-version: "3.6"
          - os: "windows-latest"
            python-version: "3.11"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[dev]
    - name: Test with pytest
      run: pytest
